body {
	background-color: #FFFEFE !important;
}

.nav-link {
	color: #B4A779;
	text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px, rgba(0, 0, 0, 0.2) -1px -1px 1px;
	font-family: serif;
	font-size: 3em;
}

.active a {
	color: black !important;
}

#sticky-footer {
	margin-top: 5px;
	flex-shrink: none;
	font-size: 1.2em;
	font-family: Brush Script MT, Brush Script Std, cursive;
}

iframe {
	width: 100%; 
	text-align: center;
	vertical-align: middle;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

#prenup-title {
	color: #444444;
	margin-top: 25px;
	font-family: Brush Script MT, Brush Script Std, cursive;
}

#prenup-title h1 {
	font-style: initial;
	font-size: 3em;
}

.nav {
	border-bottom: 5px solid #CAAFAF;
}

#prenup-title p {
	font-style: initial;
	font-family: Brush Script MT, Brush Script Std, cursive;
	font-size: 1.6em;
}

img {
	background: url('img/loading-image.gif') no-repeat;
	background-size: 100% 100%;
}

.lazy {
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 3px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

#sticky-footer {
	font-style: initial;
	font-family: Brush Script MT, Brush Script Std, initial;
}

@media only screen and (max-width: 739px) {
	iframe {
		min-height: 250px !important;
	}
  
	.nav-link {
		color: #F14E95;
		text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px, rgba(0, 0, 0, 0.2) -1px -1px 1px;
		font-family: serif;
		font-size: 0.8em;
		padding: 8px !important;
	}

	#prenup-title h1 {
		font-style: initial;
		font-size: 2em;
	}

	#prenup-title p {
		font-style: initial;
		font-size: 1em;
	}

	#prenup-title {
		font-family: Brush Script MT, Brush Script Std, cursive;
	}
}

@media only screen and (min-width: 740px) {
  
	iframe {
		min-height: 640px !important;
	}
}
