.nav-link {
	color: #F14E95;
	font-family: "Sacramento", Arial, serif;
}
#banner-main {
	background-image: url("img/banner.jpg");
	background-repeat: no-repeat;
	min-height: 1500px;
	background-size: 100%;
    background-position: 50% 50%;
}

#countdown {
	background-image: url("img/img1.jpg");
	background-size: 100%;
    background-position: 50% 50%;
    min-height: 250px;
    position: relative;
  	text-align: center;
}
.background-opacity {
	min-height: 250px;
	background: rgba(0, 0, 0, 0.6);
}

#countdown-timer {
	color: white;
	text-align: center;
	position: center;
}
#wedding-events {
	text-align: center;
}

#wedding-events img {
	max-height: 900px;
	max-width: 1200px;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
  }
#carouselExampleIndicators {
    height:500px;
    width:100%;
	margin-bottom: 1000px;
	overflow: hidden;
	text-align: center;
}

#carouselExampleIndicators img {
	max-width: 1200px;
 	height: auto;
 	max-height: 500px;

}
.carousel-control-next-icon {
	color: black;
}


.carousel-caption {
	background: rgba(0, 0, 0, 0.6);
}
.carousel-item {
	overflow: hidden;
}

@media only screen and (max-width: 750px) {

	#banner-main {
		min-height: 450px;
	}

  	#wedding-events img {
		height: 400px;
		width: 300px;
	}

	/*#carouselExampleIndicators {
		position: relative;
	    height: 250px;
		margin-bottom: 100px;
	}

	#carouselExampleIndicators img {
	 	max-height: 950px;
	 	max-width: 200px;
 	}*/
}

