body {
	background-color: #FFFEFE !important;
}

.invitation-image {
	background: url('img/loading-image.gif') no-repeat;
	background-size: 100% 100%;
}

.active a {
	color: black !important;
}

.nav {
	border-bottom: 5px solid #CAAFAF;
}

.nav-link {
	color: #B4A779;
	text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px, rgba(0, 0, 0, 0.2) -1px -1px 1px;
	font-family: serif;
	font-size: 3em;
}

#sticky-footer {
	flex-shrink: none;
	font-size: 1.2em;
	font-family: Brush Script MT, Brush Script Std, cursive;
}

#inv1, #inv2, #inv3, #inv4 {
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.3);
	margin-top: 10px;
}

img {
	width: 100%;
	height: auto;
}

#inv4 {
	margin-bottom: 10px !important;
}

.invitation-image {
	background: url('img/loading-image.gif') no-repeat;
	background-size: 100% 100%;
}

@media only screen and (max-width: 750px) {

	.nav-link {
		color: #F14E95;
		text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px, rgba(0, 0, 0, 0.2) -1px -1px 1px;
		font-family: serif !important;
		font-size: 0.8em;
		padding: 8px !important;
	}
}
